nbproject/private/
build/
dist/
nbbuild/
nbdist/
nbactions.xml
nb-configuration-private.xml

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.class
*.log

.idea/
*.iml
*.ipr
*.iws

.vscode/

out/

.DS_Store
Thumbs.db
desktop.ini

config.properties
*.env
