/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 abr. 2025, 11:04:29 a. m.
    Author     : 33
*/

@font-face {
  font-family: 'Montserrat';
  src: url('../fuentes/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'MontserratBlack';
  src: url('../fuentes/Montserrat-Black.ttf');
}
@font-face {
  font-family: 'MontserratBold';
  src: url('../fuentes/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'MontserratThin';
  src: url('../fuentes/Montserrat-Thin.ttf');
}
@font-face {
  font-family: 'MontserratLight';
  src: url('../fuentes/Montserrat-Light.ttf');
}

h1{
    font-family: 'MontserratBlack', sans-serif;
    font-weight: bolder;
    font-size: 5em;
    margin: 0;
    padding: 0;
}

h3, h2{
    font-family: 'MontserratBlack', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    padding: 0;
    color: #486E51;
}

nav{
    font-family: 'MontserratBold', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;
}

p, label{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

body{
    margin: 0;
    padding-top: 110px;
    background-color: #F1E5D7;
}

h1{
    color: #8D303C;
}

h1, h2{
    text-align: center;
}

header{
    top: 0;
    height: auto;
    width: 100%;
    position: fixed;
    background: linear-gradient(180deg, #47616EF6 30%, #47616E00 150%);
    transition-duration: 0.6s;
    z-index: 1;
}

#logo{
    vertical-align: middle;
    width: 20%;
    height: auto;
}

nav{
    opacity: 0.5;
    transition: 0.6s;
}

header:hover{
    background-color: #47616E;
    nav{
        opacity: 1;
    }
    transition: 0.6s;
}

.barraNavegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.titulo{
    font-family: 'MontserratBlack', sans-serif;
    font-size: 3em;
    color: white;
}

.gemu{
    display: flex;
    align-items: center;
}

.menu {
    color: white;
    font-size: 150%;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
}

.menu:hover{
    color: #171b24;
}

footer{
    text-align: center;
    bottom: 0;
}

.cuerpo{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 100px;
    padding-right: 100px;
}

.lateral{
    display: flex;
    flex-direction: column;
    div{
        padding-top: 6px;
        padding-bottom: 6px;
    }
    align-items: center;
}

input[type="search"] {
    width: 300px;
    height: 4em;
    border-radius: 25px;
    padding: 25px;
    margin: 5px;
    border-style: solid;
    border-color: #ECD0A8;
}

a{
    text-decoration: none;
}

.botones-lista{
    width: 400px;
    height: 5.5em;
    border-radius: 25px;
    border-style: solid;
    border-color: #ECD0A8;
}

.aux{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    .precio-juego{
        color: gray;
    }
}

.contenedor-lista{
    img{
        height: 60px;
        margin-right: 5px;
    }
}

.principales, .secundarios{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contenedor-juego img{
    width: 100%;
    border-radius: 10px;
    transition: filter 0.5s ease-in-out;
}

.info-juego{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
}

.contenedor-juego{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.75);
}

.contenedor-juego:hover{
    img{
        filter: brightness(1.3) contrast(0.8);
        cursor: pointer;
        transition: filter 0.5s ease-in-out;
    }
    .info-juego{
        bottom: 0;
        opacity: 1;
        transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
}

.a{
    height: 400px;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.75);
}

.banner{
    width: 1200px; 
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.75);
}

.slider{
    display: inline-block; 
    text-align: center; 
    vertical-align: middle; 
    height: 100%;
    width: auto;
    overflow: hidden;
    transition-duration: 0.4s;
    margin: 20px;
    
}

.slider:hover{
    width: 100%;
    box-shadow: 0 0 60px 1px #486E51;
}

.slider ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 500%;
    animation: slide 24s infinite;
}

.slider li{
    list-style: none;
    height: 100%;
    width: auto;
}

.slider img{
    width: 100%;
    height: 100%;
    display: block;
}

@keyframes slide {
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    95% { margin-left: -300%; }

    100% { margin-left: -400%; }
}

span .precio-juego{
    color: white;
}

.nombre-juego{
    color: black;
    text-decoration: none;
}